* {
    margin: 100;
    padding: 100;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* 
cima - top
baixo - bottom
esquerda - left
direita - right
*/

body {
    background-image: url("imgs/logo.cristo.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 150vh;
}


/* caso queira colocar mais imagens */
.fotos {
  display: flex;          /* coloca as imagens lado a lado */
  gap: 30px;              /* espaço entre elas */
}

.fotos img {
  width: 100px;           /* tamanho das imagens */
  height: auto;           /* mantém a proporção */
  border-radius: 10px;    /* opcional, cantos arredondados */
}

.titulo {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(48, 45, 45);

}

.texto1 {
    font-size: 15px;
    font-weight: 700;
     color: rgb(48, 9, 9)
}

.texto2 {
    font-size: 15px;
    font-weight: 700;
    color: rgb(48, 9, 9);
}

button {
    font-size: 20px;
    background-color: #171a19ca;
    color: #fff;
    margin-top: 30px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.5s;
}

button:hover {
    background-color: #1d201f9e;
    padding: 15px;
    transition: 0.5s;
}

@keyframes arcoiris {
  0% { color: rgb(0, 0, 0); }
  25% { color: rgb(26, 0, 0); }
  50% { color: rgb(53, 1, 1); }
  75% { color: rgb(41, 5, 5); }
  100% { color: rgb(45, 1, 1); }
}

p {
  animation: arcoiris 3s infinite;
}





     body {
      text-align: center;
      background-color: #111;
      color: #fff;
      font-family: Arial, sans-serif;
      padding: 50px;
    }

    img {
      width: 350px;
      height: auto;
      border-radius: 15px;
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
      transition: opacity 1s ease-in-out;
    }

    h2 {
      margin-bottom: 20px;
      color: #ffcc00;
    }