* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* 
cima - top
baixo - bottom
esquerda - left
direita - right
*/

body {
    background-image: url("img/fundo.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.main  {
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

.caixa-conteudo {
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; 
       
}

.caixa-textos {
    width: 600px;
}

h2 {
    color: #fff;
    font-weight: 600;
    font-size: 60px;
}

.texto-starbacks {
    color: #008d57;
    font-weight: 600;
    font-size: 70px;
}

.paragrafo {
    font-size: 20px;
    color: #fff;
}

button {

    background-color: #028559ca;
    color: #fff;
    margin-top: 30px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.5s;
}

button:hover {
    background-color: #00a0709e;
    padding: 15px;
    transition: 0.5s;
}

.caixa-imagem {
    width: 600px;
    display: flex;
    justify-content: flex-end;
}

.imagem-copo {
    width: 300px;
}

.caixa-menu {
    display: flex;
    justify-content: center;
    position: absolute;
}

.botao-menu {
    width: 80px;
    cursor: pointer;
    margin: 10px;
}

.circulo {
    background-color: #07691c;
    width: 100%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(500px at right 900px);
    z-index: -1;
}

/* Estilos adicionais/ adaptação para celular */
 

@media screen and (max-width: 900px) {
   .caixa-conteudo {
    width: 100%;
    height: 60%;
    padding: 0;
    margin: 0;
   } 

   .caixa-textos {
    display: block;
    height: auto;
    width: 300%;
    position: static;
    padding: 10px;
   }

   .texto-starbacks {
    font-size: 40px;
   }

   .imagem-copo {
    position: relative;
    max-width: 70px;
    top: 350px;
   }

   .logo {
    position: relative;
    left: -50px;
    max-width: 90%;
   }

   .caixa-menu {
    position: relative;
    margin-top: 70px;
    left: -50px;
    max-width: 100%;
   }

   .circulo {
    clip-path: circle(200px at right 900px);
   }

   button {
    margin-bottom: 20px;
    padding: 10px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   }

   h2 {
    font-size: 36px;
    line-height: 52px;
    width: auto;
    margin: 20px 0 0 0;
    text-align: center;
   }

   .true {
    position: relative;
    left: 50px;
    max-width: 90%;
   }
}